<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiit</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/training.js' %}"></script>
</head>
<body>
    <div class="page_container">
        <h1>Choose 6 exercises</h1>
        <div id="exersize_container">
            <div id='slide_1' class="not_choosen">
                <img src="../static/images/slide_1.gif" alt="slide_1">
                <p>pushup</p>
            </div>
            <div id='slide_2' class="not_choosen">
                <img src="../static/images/slide_2.gif" alt="slide_2">
                <p>standup</p>
            </div>
            <div id='slide_3' class="not_choosen">
                <img src="../static/images/slide_3.gif" alt="slide_3">
                <p>sitdown</p>
            </div>
            <div id='slide_4' class="not_choosen">
                <img src="../static/images/slide_4.gif" alt="slide_4">
                <p>pullup</p>
            </div>
            <div id='slide_5' class="not_choosen">
                <img src="../static/images/slide_5.gif" alt="slide_5">
                <p>berpy</p>
            </div>
            <div id='slide_6' class="not_choosen">
                <img src="../static/images/slide_6.gif" alt="slide_6">
                <p>jumps</p>
            </div>
        </div>
        <form id="select_times" action="/starttraning" method="POST">
            {% csrf_token %}
            <p>Rest Time between exercises,  in seconds: <input type="number" id = "restTime" name="rest_time" value='15'></p>
            <p>Workout Time for each exercise,  in seconds: <input type="number" id = "workoutTime" name="workout_time" value="30"></p>
            <p>Break Time between cycles,  in seconds: <input type="number" id = "breakTime" name="break_time" value="60"></p>
            <button>Start training</button>
        </form>
        <a href="/reset"><button>Reset</button></a>
        
        <div class="description_container">
            <p>Rest Time:<span id = 'rest_time_num'>{{ request.session.rest_time }}</span></p>
            <p>Workout Time:<span id = 'workout_time_num'>{{ request.session.workout_time }}</span></p>
            <p>Break Time:<span id = 'break_time_num'>{{ request.session.break_time }}</span></p>

            <p >Exercise 1: <span id='ex0' class="choosed_exercise">{{ request.session.exersize_name.0 }}</span></p>
            <p >Exercise 2: <span id='ex1' class="choosed_exercise">{{ request.session.exersize_name.1 }}</span></p>
            <p >Exercise 3: <span id='ex2' class="choosed_exercise">{{ request.session.exersize_name.2 }}</span></p>
            <p >Exercise 4: <span id='ex3' class="choosed_exercise">{{ request.session.exersize_name.3 }}</span></p>
            <p >Exercise 5: <span id='ex4' class="choosed_exercise">{{ request.session.exersize_name.4 }}</span></p>
            <p >Exercise 6: <span id='ex5' class="choosed_exercise">{{ request.session.exersize_name.5 }}</span></p>
        </div>
    </div>
</body>
</html>