<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiit</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page_container">
        <h1>Choose 6 exersizes</h1>
        <div class="exersize_container">
            <form action="/starttraning" method="POST">
                {% csrf_token %}
                <a href="/exersize/slide_1/pushup">
                    <div class="image_container">
                        <img src="../static/images/slide_1.gif" alt="pushup">
                        <p>pushup</p>
                    </div>
                </a>
                <a href="/exersize/slide_2/standup">
                    <div class="image_container">
                        <img src="../static/images/slide_2.gif" alt="standup">
                        <p>standup</p>
                    </div>
                </a>
                <a href="/exersize/slide_3/sitdown">
                    <div class="image_container">
                        <img src="../static/images/slide_3.gif" alt="sitdown">
                        <p>sitdown</p>
                    </div>
                </a>
                <a href="/exersize/slide_4/pullup">
                    <div class="image_container">
                        <img src="../static/images/slide_4.gif" alt="pullup">
                        <p>pullup</p>
                    </div>
                </a>
                <a href="/exersize/slide_5/berpy">
                    <div class="image_container">
                        <img src="../static/images/slide_5.gif" alt="berpy">
                        <p>berpy</p>
                    </div>
                </a>
                <a href="/exersize/slide_6/jumps">
                    <div class="image_container">
                        <img src="../static/images/slide_6.gif" alt="jumps">
                        <p>jumps</p>
                    </div>
                </a>
                <a href="/exersize/slide_5/berpy">
                    <div class="image_container">
                        <img src="../static/images/slide_5.gif" alt="berpy">
                        <p>berpy</p>
                    </div>
                </a>
                <a href="/exersize/slide_6/jumps">
                    <div class="image_container">
                        <img src="../static/images/slide_6.gif" alt="jumps">
                        <p>jumps</p>
                    </div>
                </a>
                <br>
                <br>
                Rest Time between exersices,  in seconds: <input type="number" id = "restTime" name="rest_time"><br><br>
                Workout Time for each exersice,  in seconds: <input type="number" id = "workoutTime" name="workout_time"><br><br>
                Break Time between cycles,  in seconds: <input type="number" id = "breakTime" name="break_time"><br><br>
                <button>Start training</button>
            </form>
            <br>
            <a href="/reset"><button>Reset</button></a>

        </div>

        <div class="description_container">
            <div id="training_array">{{ request.session.training_array }}</p>
            <br>
            <p>Rest Time:<span id = 'rest_time_num'>{{ request.session.rest_time }}</span></p>
            <p>Workout Time:<span id = 'workout_time_num'>{{ request.session.workout_time }}</span></p>
            <p>Break Time:<span id = 'break_time_num'>{{ request.session.break_time }}</span></p>
            <p>Exercise 1: <span class="choosed_exercise">{{ request.session.exersize_name.0 }}</span></p>
            <p>Exercise 2: <span class="choosed_exercise">{{ request.session.exersize_name.1 }}</span></p>
            <p>Exercise 3: <span class="choosed_exercise">{{ request.session.exersize_name.2 }}</span></p>
            <p>Exercise 4: <span class="choosed_exercise">{{ request.session.exersize_name.3 }}</span></p>
            <p>Exercise 5: <span class="choosed_exercise">{{ request.session.exersize_name.4 }}</span></p>
            <p>Exercise 6: <span class="choosed_exercise">{{ request.session.exersize_name.5 }}</span></p>
        </div>
    </div>
    <script>
        // $('body .page_container .exersize_container a:link').click(function(){
        //     $('body a:link').removeClass('active');
        //     $(this).addClass('active');	 
        // });
    </script>

</body>
</html>